@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            background-image: url("https://scontent.fhfa1-2.fna.fbcdn.net/v/t1.0-9/118395057_4297139707023337_8672205436022018581_o.jpg?_nc_cat=104&_nc_sid=730e14&_nc_ohc=C_9Wu0zIiLYAX9rEu0p&_nc_ht=scontent.fhfa1-2.fna&oh=c8589886a3a1ae3c48d2685ec8372b27&oe=5F6EF302");
            height: 100%;
            font: margin: 0;
        }

        .video {
            position: absolute;
            left: 800px;
            top: 500px;
        }
    </style>
</head>
<body>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tgTuer6XnRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>

</body>

</html> 